a {
  color: white;
  transition: color 0.2s ease-in-out;
}

a:hover, a:visited:hover {
  color: var(--color-primary-500);
}

a:visited {
  color: var(--color-grayscale-300);
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-8);
}

.link-with-icon__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color 0.2s ease-in-out;
}

.link-with-icon--copy:hover, .link-with-icon--copy:active:hover {
  color: inherit;
}

.link-with-icon--copy .link-with-icon__icon {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.link-with-icon--copy:hover .link-with-icon__icon {
  background-color: var(--color-secondary-300);
}

.link-with-icon__icon svg {
  stroke: currentColor;
}

.link-with-icon__icon svg {
  width: 16px;
  height: 16px;
}