---
import { NdkText } from "../components/atoms/ndk-text/ndk-text";
import Layout from "../components/layout.astro";
import { Aside } from "../components/layout/aside/aside";
---

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);

    padding: var(--spacing-48) var(--spacing-96); 
  }

  .section-title {
    min-width: 144px;
  }

  .list {
    margin: 0;
    padding: 0px var(--spacing-20);
  }
</style>

<Layout>
  <main>
    <NdkText mode="h2">Professional Experiences</NdkText>
    <Aside>
      <div slot="section-name" class="section-title">2020 - 現在&nbsp;&nbsp;</div>
      <div>
        <NdkText mode="h3">Selectra France / Selectra Japan</NdkText>
        <NdkText mode="h3">コンテンツディレクター・UI/UXデザイナー</NdkText>
        <NdkText mode="body">フランス・パリ本社（2020年～2023年12月）/ 東京（2024年1月～）</NdkText>
        <ul class="list">
          <li>
            <NdkText mode="body">
            日本版ウェブサイトのUX/UI改善
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            社内デザイン部門・エンジニア部門との連携してのウェブデザイン業務
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            自社サイトに掲載するコンテンツの企画立案
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            自社サイトに掲載する広告のコピーライティング
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            サイトパフォーマンスの効果測定（GA4, Hotjar, Zoho PageSense）
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            自社で運営する比較サイトのSEO
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            コンテンツライティング
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            広告主との広告費交渉
            </NdkText>
          </li>
        </ul>
      </div>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">2019 - 2020</div>
      <div>
        <NdkText mode="h3">JTB France</NdkText>
        <NdkText mode="h3">商品開発／デスティネーション・マネジメント</NdkText>
        <NdkText mode="body">フランス・パリ</NdkText>
        <ul class="list">
          <li>
            <NdkText mode="body">
            日本発フランス団体向けツアーの旅程企画考案
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            日本発フランスツアーのパッケージ商品の旅程企画考案
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            自社発行パンフレットの編集・校正業務
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            現地サプライヤーとの交渉
            </NdkText>
          </li>
          <li>
            <NdkText mode="body">
            JTB公式アプリ内フランス部分のコンテンツ開発
            </NdkText>
          </li>
        </ul>
      </div>
    </Aside>
    <NdkText mode="h2">Education</NdkText>
    <Aside>
      <div slot="section-name" class="section-title">2015 - 2019</div>
      <div>
        <NdkText mode="h3">東北大学文学部 人文社会学科 美学西洋美術史専攻</NdkText>
        <NdkText mode="h3">美学西洋美術史専攻</NdkText>
        <NdkText mode="body">仙台市青葉区</NdkText>
        <NdkText mode="body">広く芸術学や美学（美術における哲学）を学ぶ。19～20世紀のフランス絵画やグラフィックデザイン、フランスにおけるジャポニスムについて研究。卒業論文のテーマはグラフィックデザインの発展、フランス19世紀の商業芸術（ポスター広告）</NdkText>
      </div>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">2017 - 2018</div>
      <div>
        <NdkText mode="h3">リヨン第2大学 （Université Lumière Lyon 2）</NdkText>
        <NdkText mode="h3">専攻分野：現代美術・グラフィックデザイン</NdkText>
        <NdkText mode="body">フランス・リヨン</NdkText>
        <NdkText mode="body">西洋美術史、現代美術、博物館学の理解を深める。専門科目での単位取得後帰国。</NdkText>
      </div>
    </Aside>
    <NdkText mode="h2">Skills</NdkText>
    <Aside>
      <div slot="section-name" class="section-title">言語</div>
      <ul class="list">
        <li>
          <NdkText mode="body" inline>英語 (ビジネスレベル・TOEIC 895)</NdkText>
        </li>
        <li>
          <NdkText mode="body" inline>フランス語 (ビジネスレベル・CERF B2)</NdkText>
        </li>
        <li>
          <NdkText mode="body" inline>日本語 (母国語)</NdkText>
        </li>
      </ul>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">言語</div>
      <ul class="list">
        <li>
          <NdkText mode="body">データ分析/SEO</NdkText>
          <NdkText mode="body">Google Analytics 4・Google Search Console・Ahrefs・hotjar・Zoho Pagesense</NdkText>
        </li>
        <li>
          <NdkText mode="body">コンテンツ管理</NdkText>
          Drupal, WordPress, Wix
        </li>
        <li>
          <NdkText mode="body">データベース管理</NdkText>
          <NdkText mode="body">MySQL</NdkText>
        </li>
        <li>
          <NdkText mode="body">その他</NdkText>
          <NdkText mode="body">HTML5, CSS3, Google Spread Sheet</NdkText>
        </li>
        <li>
          <NdkText mode="body">UI/UXデザイン・グラフィックデザイン</NdkText>
          <NdkText mode="body">Adobe XD / Figma / Adobe Illustrator / Adobe Photoshop 等</NdkText>
        </li>
      </ul>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">関連資格</div>
      <ul class="list">
        <li>
          <NdkText mode="body" inline>基本情報技術者試験</NdkText>
        </li>
        <li>
          <NdkText mode="body" inline>Google UXデザイン認定資格取得</NdkText>
        </li>
        <li>
          <NdkText mode="body" inline>Google Analytics 4認定資格取得</NdkText>
        </li>
      </ul>
    </Aside>
  </main>
</Layout>
