---
import { Text } from "../components/atoms/text/text";
import Layout from "../components/layout.astro";
import { Aside } from "../components/layout/aside/aside";
---

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);

    max-width: 1024px;
    margin: auto;
    padding: var(--spacing-48) var(--spacing-96); 
  }

  .section-title {
    min-width: 144px;
  }

  .list {
    margin: 0;
    padding: 0px var(--spacing-20);
  }

  @media (width <= 768px) {
    main {
      padding: var(--spacing-48) var(--spacing-24);
    }
  }
</style>

<Layout>
  <main>
    <Text mode="h2">Professional Experiences</Text>
    <Aside>
      <div slot="section-name" class="section-title">2020 - 現在&nbsp;&nbsp;</div>
      <div>
        <Text mode="h3">Selectra</Text>
        <Text mode="h3">ウェブディレクター／日本市場のUI/UXデザイン担当</Text>
        <Text mode="body">パリ・東京</Text>
        <ul class="list">
          <li>
            <Text mode="body">
              自社運営サイトのSEO全般
            </Text>
          </li>
          <li>
            <Text mode="body">
              日本語版ウェブサイトのUI/UXデザイン
            </Text>
          </li>
          <li>
            <Text mode="body">
            本社デザイン部門・エンジニア部門との連携し日本向けサイトUIのローカライズ
            </Text>
          </li>
          <li>
            <Text mode="body">
            自社サイトに掲載するコンテンツの企画立案
            </Text>
          </li>
         
          <li>
            <Text mode="body">
            サイトパフォーマンスの効果測定（GA4, Hotjar, Zoho PageSense）
            </Text>
          </li>
        </ul>
      </div>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">2019 - 2020</div>
      <div>
        <Text mode="h3">JTB Europe</Text>
        <Text mode="h3">商品開発／デスティネーション・マネジメント</Text>
        <Text mode="body">パリ</Text>
        <ul class="list">
          <li>
            <Text mode="body">
            日本発着フランス・ヨーロッパ圏ツアーの旅程企画考案
            </Text>
          </li>
          <li>
            <Text mode="body">
          団体向けツアー商品の旅程企画考案および現地サプライヤーとの価格交渉 </Text>
          </li>
          <li>
            <Text mode="body">
            ツアーパンフレットの編集・校正業務
            </Text>
          </li>
          <li>
            <Text mode="body">
            JTB公式アプリのコンテンツ企画
            </Text>
          </li>
        </ul>
      </div>
    </Aside>
    <Text mode="h2">Education</Text>
    <Aside>
      <div slot="section-name" class="section-title">
        <div>2015 - 2019</div>
        <div>4年制大学</div>
      </div>
      <div>
        <Text mode="h3">東北大学文学部 人文社会学科 </Text>
        <Text mode="h3">美学・西洋美術史専攻</Text>
        <Text mode="body">宮城県仙台市</Text>
        <Text mode="body">専門分野：グラフィックデザイン・商業芸術・芸術理論・美学</Text>
      </div>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">
        <div>2017 - 2018</div>
        <div>交換留学</div>
      </div>
      <div>
        <Text mode="h3">リヨン第2大学 （Université Lumière Lyon 2）</Text>
        <Text mode="body">フランス・リヨン</Text>
        <Text mode="body">西洋美術史、現代美術、博物館学の理解を深める。専門科目での単位取得後帰国。</Text>
      </div>
    </Aside>
    <Text mode="h2">Skills</Text>
    <Aside>
      <div slot="section-name" class="section-title">言語</div>
      <ul class="list">
        <li>
          <Text mode="body" inline>英語 (ビジネスレベル・TOEIC 895)</Text>
        </li>
        <li>
          <Text mode="body" inline>フランス語 (ビジネスレベル・CERF B2)</Text>
        </li>
        <li>
          <Text mode="body" inline>日本語 (母国語)</Text>
        </li>
      </ul>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">スキル</div>
      <ul class="list">
        <li>
          <Text mode="body">データ分析/SEO：Google Analytics 4・Google Search Console・Ahrefs・hotjar・Zoho Pagesense</Text>
        </li>
        <li>
          <Text mode="body">コンテンツ管理：Drupal, Wix</Text>
        </li>
        <li>
          <Text mode="body">データベース管理：SQL</Text>
        </li>
        <li>
          <Text mode="body">その他：HTML, CSS, Google Spread Sheet</Text>
        </li>
        <li>
          <Text mode="body">UI/UXデザイン・グラフィックデザイン：Adobe XD / Figma / Adobe Illustrator / Adobe Photoshop 等</Text>
        </li>
      </ul>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">関連資格</div>
      <ul class="list">
        <li>
          <Text mode="body" inline>基本情報技術者試験</Text>
        </li>
        <li>
          <Text mode="body" inline>Google UXデザイン認定資格取得</Text>
        </li>
      
      </ul>
    </Aside>
  </main>
</Layout>
