---
import { Text } from "../components/atoms/text/text";
import Layout from "../components/layout.astro";
import { Aside } from "../components/layout/aside/aside";
---

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);

    padding: var(--spacing-48) var(--spacing-96); 
  }

  .section-title {
    min-width: 144px;
  }

  .list {
    margin: 0;
    padding: 0px var(--spacing-20);
  }

  @media (width <= 768px) {
    main {
      padding: var(--spacing-48) var(--spacing-24);
    }
  }
</style>

<Layout>
  <main>
    <Text mode="h2">Professional Experiences</Text>
    <Aside>
      <div slot="section-name" class="section-title">2020 - 現在&nbsp;&nbsp;</div>
      <div>
        <Text mode="h3">Selectra</Text>
        <Text mode="h3">SEOプロジェクトマネージャー・デザイン担当兼任</Text>
        <Text mode="body">フランス・パリ / 東京</Text>
        <ul class="list">
          <li>
            <Text mode="body">
              コンテンツSEO／テクニカルSEO
            </Text>
          </li>
          <li>
            <Text mode="body">
              日本版ウェブサイトのUX/UI改善
            </Text>
          </li>
          <li>
            <Text mode="body">
            社内デザイン部門・エンジニア部門との連携し日本向けサイトUIのローカライズ
            </Text>
          </li>
          <li>
            <Text mode="body">
            自社サイトに掲載するコンテンツの企画立案
            </Text>
          </li>
          <li>
            <Text mode="body">
            サイトパフォーマンスの効果測定（GA4, Hotjar, Zoho PageSense）
            </Text>
          </li>
        </ul>
      </div>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">2019 - 2020</div>
      <div>
        <Text mode="h3">JTB Europe</Text>
        <Text mode="h3">商品開発／デスティネーション・マネジメント</Text>
        <Text mode="body">フランス・パリ</Text>
        <ul class="list">
          <li>
            <Text mode="body">
            個人向け・団体向けツアー商品の旅程企画考案および現地サプライヤーとの価格交渉
            </Text>
          </li>
          <li>
            <Text mode="body">
            ツアー掲載パンフレットの編集・校正業務
            </Text>
          </li>
          <li>
            <Text mode="body">
            JTB公式アプリのコンテンツ企画
            </Text>
          </li>
        </ul>
      </div>
    </Aside>
    <Text mode="h2">Education</Text>
    <Aside>
      <div slot="section-name" class="section-title">
        <div>2015 - 2019</div>
        <div>4年制大学</div>
      </div>
      <div>
        <Text mode="h3">東北大学文学部 人文社会学科 </Text>
        <Text mode="h3">美学西洋美術史専攻</Text>
        <Text mode="body">宮城県仙台市</Text>
        <Text mode="body">芸術学や美学（美術における哲学）を広く学ぶ。卒業論文のテーマはフランス社会におけるグラフィックデザインの発展、商業芸術（ポスター広告）。</Text>
      </div>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">
        <div>2017 - 2018</div>
        <div>交換留学</div>
      </div>
      <div>
        <Text mode="h3">リヨン第2大学 （Université Lumière Lyon 2）</Text>
        <Text mode="h3">専攻分野：現代美術・グラフィックデザイン</Text>
        <Text mode="body">フランス・リヨン</Text>
        <Text mode="body">西洋美術史、現代美術、博物館学の理解を深める。専門科目での単位取得後帰国。</Text>
      </div>
    </Aside>
    <Text mode="h2">Skills</Text>
    <Aside>
      <div slot="section-name" class="section-title">言語</div>
      <ul class="list">
        <li>
          <Text mode="body" inline>英語 (ビジネスレベル・TOEIC 895)</Text>
        </li>
        <li>
          <Text mode="body" inline>フランス語 (ビジネスレベル・CERF B2)</Text>
        </li>
        <li>
          <Text mode="body" inline>日本語 (母国語)</Text>
        </li>
      </ul>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">言語</div>
      <ul class="list">
        <li>
          <Text mode="body">データ分析/SEO；Google Analytics 4・Google Search Console・Ahrefs・hotjar・Zoho Pagesense</Text>
        </li>
        <li>
          <Text mode="body">コンテンツ管理；Drupal, WordPress, Wix</Text>
        </li>
        <li>
          <Text mode="body">データベース管理；MySQL</Text>
        </li>
        <li>
          <Text mode="body">その他；HTML5, CSS3, Google Spread Sheet</Text>
        </li>
        <li>
          <Text mode="body">UI/UXデザイン・グラフィックデザイン；Adobe XD / Figma / Adobe Illustrator / Adobe Photoshop 等</Text>
        </li>
      </ul>
    </Aside>
    <Aside>
      <div slot="section-name" class="section-title">関連資格</div>
      <ul class="list">
        <li>
          <Text mode="body" inline>基本情報技術者試験</Text>
        </li>
        <li>
          <Text mode="body" inline>Google UXデザイン認定資格取得</Text>
        </li>
        <li>
          <Text mode="body" inline>Google Analytics 4認定資格取得</Text>
        </li>
      </ul>
    </Aside>
  </main>
</Layout>
