---
import Layout from "../components/layout.astro";

const projects = [
	{
		title: "料金比較のセレクトラ",
		image: "/images/selectra.png",
		description: "料金比較サイト「セレクトラ」のUI/UX改善",
		link: "https://docs.google.com/presentation/d/e/2PACX-1vT33otSCt5AzZBM_MrFUYPOizabb0WLMtgY8ksN2ELSJW93j0Xpnl3WPIm-Ge1lwjFuBLC999h5NMEu/pub?start=false&loop=false&delayms=3000",
	},
	{
		title: "Artfull",
		image: "/images/art.png",
		description: "【架空】アートギャラリー向けスマホアプリ",
		link: "https://docs.google.com/presentation/d/e/2PACX-1vRMIEGfJQ1kB78RkgIkb4CMvSkwrH4vOvHc_ZGb0CITCZrb6j-fJbaQ5Gfbrbcw2Ttw6TRkqWcmo_b7/pub?start=false&loop=false&delayms=3000",
	},
	{
		title: "Chrome typeの習作",
		image: "/images/rei-dreamy.png",
		description: "会社の先輩の名前でロゴを作成しステッカーにしてプレゼントした",
		link: "/images/rei-dreamy.png",
	},
];
---

<style>
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }

  .hero .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
    background-color: rgba(40, 38, 38, 0.44);
    padding: 32px;
    border-radius: 10px;
  }


  .hero img {
    width: 100%;
    height: 418px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .works h2 {
    text-align: center;
  }

  .works .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .works .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (width <= 768px) {
    .works .container {
      grid-template-columns: 1fr;
    }
  }
</style>

<Layout
  home
>
  <main>
    <section class="hero">
      <img src="/images/banner1.jpg">
      <div class="centered">
        <h1>Nodoka Kon</h1>
        <p>
          UI/UX Designer based in Tokyo
        </p>
        <a href="/about" class="button">
          About
        </a>
      </div>
    </section>
    <section class="works">
      <h2>Works</h2>
      <div class="container">
        {
          projects.map(project => <div class="work-container">
            <div class="image">
              <img src={project.image} alt="project main image"/>
            </div>
              <div>
                <h3>{project.title}</h3>
                <p>{project.description}</p>
                <a href={project.link} class="button">
                    見る
                </a>
              </div>
          </div>)
        }
      </div>
    </section>
  </main>
</Layout>
