---
import { Image } from "astro:assets";
import Layout from "../components/layout.astro";
import { projects } from "../components/projects";
import { NdkText } from "../components/atoms/ndk-text/ndk-text";
import { getImage } from "astro:assets";
import { ProjectCard } from "../components/molecules/project-card/project-card";
---

<style>
 .hero {
  position: relative;
  overflow: hidden;
  padding: var(--spacing-24) calc(var(--spacing-72) + var(--spacing-40)) var(--spacing-72) calc(var(--spacing-72) + var(--spacing-40));
  background: var(--gradient-background);

  color: var(--color-white);

  display: flex;
  flex-flow: column;
  gap: 24px;
 }

 .hero .gradiant {
  position: absolute;
  left: 0;
 }

 .works {
  background-color: var(--color-grayscale-900);
  padding: var(--spacing-48) var(--spacing-72);
 }

 .works .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-48);
 }
  @media (width <= 768px) {
    .works .container {
      grid-template-columns: 1fr;
    }
  }

</style>


<Layout
  home
>
  <main>
    <section class="hero">
      <NdkText mode="h1">Hi! I’m Nodoka Kon</NdkText>
      <NdkText mode="h3">ユーザー中心のソリューションを追求し、UXリサーチの指標を活用してプロダクトの価値を高める日本のプロダクトデザイナーです。ユーザーだけでなく、チームメンバーのためのデザインも大切にしています。デザインシステム、プロダクトのスケール、整合性、オープンソースに情熱を持っています。</NdkText>
      <img class="gradiant" src="/gradiant.svg" />
    </section>
    <section class="works">
      <div class="container">
        {
          projects.map(async project => {
            const mobile = await getImage({
              src: project.image,
              format: "webp",
              width: 800,
            })

            const desktop = await getImage({
              src: project.image,
              format: "webp",
              width: 1600,
            })
            return (
            <ProjectCard 
              image={{alt: "Project main picture", 
                mobileSrc: mobile.src, 
                desktopSrc: desktop.src}
              } 
              title={project.title} 
              description={project.description} 
              href={project.link} 
              tags={[{name: "ux", mode: "primary"}]} 
            />)
          })
        }
      </div>
    </section>
  </main>
</Layout>
