---
import Layout from "../components/layout.astro";
import { Image } from "astro:assets";
import reiPc from "../assets/rei-pc.webp";
import reiGreen from "../assets/rei-green.png";
import reiSticker from "../assets/sticker-outcome.jpg";
import { projects } from "../components/projects";

const logo = projects.find((project) => project.id === "logo");
---

<style>
  .hero {
    color: #323232;

    text-align: center;
    margin-bottom: 2rem;

    margin: 0 auto;
    width: min(90vw, 900px);
  }

  .content {
    display: grid;
    gap: 2rem;
    justify-items: center;
  }

  .content img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
</style>

<Layout>
  <main>
    <section class="hero">
      <div>
        <h1>{logo.title}</h1>
        <p>
          使用ツール：Inkscape・Blender <br>会社の先輩の名前でロゴタイプを作成。ステッカーにして誕生日にプレゼントした。 
        </p>
        <div class="content">
          <a href="/logo3d" class="button">
            3Dで見る
          </a>
          <Image src={reiGreen} alt="Picture of 3D Model"  width={800}/>
          <Image src={reiSticker} alt="3D Model on stickers"  width={800}/>
          <Image src={reiPc} alt="Picture of 3D Model printed on PC"  width={800}/>
        </div>
      </div>
    </section>
  </main>
</Layout>
