.button {
	display: flex;
	text-decoration: none;
	min-width: 200px;
	min-height: 72px;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-family: var(--font0family);
	font-weight: 400;
	font-size: 24px;
	line-height: 31.68px;
	letter-spacing: -2px;
	border-radius: 100px;
	color: inherit;

	user-select: none;
}

.button.primary {
	background-color: var(--color-primary-400);
}

.button.primary:hover {
	color: var(--color-grayscale-700);
	background-color: var(--color-primary-600);
}

.button.primary:active {
	color: var(--color-grayscale-50);
	background-color: var(--color-primary-900);
}

.button.secondary {
	background-color: var(--color-grayscale-800);
	color: var(--color-primary-200);
}

.button.secondary:hover {
	background-color: var(--color-grayscale-600);
	color: var(--color-primary-200);
}

.button.secondary:active {
	background-color: var(--color-grayscale-400);
	color: var(--color-primary-400);
}
