.header {
	width: 100%;
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;
}

.header.black {
	color: var(--color-grayscale-900);
}

.header.white {
	color: var(--color-grayscale-50);
}

.header nav {
	display: flex;
	gap: var(--spacing-40);
}

.header nav a {
	text-decoration: none;
	color: inherit;
}
