---
import { Header } from "./molecules/header/header";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon.ico" sizes="256x256">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest" />

  <meta name="msapplication-TileColor" content="#5cebdf" />
  <meta name="theme-color" content="#ffffff" />
  <title>Nodoka's portfolio</title>

  <link rel="stylesheet" href="/global.css">
  <style is:global>
    header {
      padding: var(--spacing-24) var(--spacing-72);
      background: var(--gradient-background);
    }

    @media (width <= 768px) {
      header {
        padding: var(--spacing-24) var(--spacing-24);
      }
    }
  </style>


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-39RVYW5JV0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-39RVYW5JV0');
  </script>
</head>
<body>
  <Header mode="white" currentPath={currentPath}>
  </Header>
  <slot />
</body>
</html>
